body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FEFEFE;
  background-color: #0c0d10;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

@font-face { font-family: "gohu"; src: url("gohu.woff") format('woff'); }
body   { font-family: "gohu", "Lucida Console", monospace, Monaco; }
h1 { font-family: "gohu", "Lucida Console", monospace, Monaco; font-size: 50px; line-height: 1.0;}
p  { 
  font-family: "gohu", "Lucida Console", monospace, Monaco; 
  font-size: 14px; 
  line-height: 2.0; 
}
a  { color: #ffef93; text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-li {
  float: left;
  padding: 1em;
}

footer {
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img {
  width: 80%;
}

.current-page {
  color:blue;
}

.content {
  width: 40%;
  border: 1px solid white; 
}

.content-post {
  padding: 50px;
}

code {
  background-color: #272822;
  color: #f8f8f2;
  border-radius: 0.3em;
  padding: 4px 5px 6px;
}

blockquote {
  font-style: italic;
}
blockquote > p {
  display:inline;
}
blockquote:before {
  content: '“';
}
blockquote:after {
  content: '”';
}